[submodule "Classes/CocoaAsyncSocket"]
	path = Classes/CocoaAsyncSocket
	url = git://github.com/robbiehanson/CocoaAsyncSocket.git
[submodule "Tests/Kiwi"]
	path = Tests/Kiwi
	url = git://github.com/allending/Kiwi.git
[submodule "Classes/HockeySDK"]
	path = Classes/HockeySDK
	url = git://github.com/bitstadium/HockeySDK-iOS.git
[submodule "Classes/CocoaLumberjack"]
	path = Classes/CocoaLumberjack
	url = git://github.com/robbiehanson/CocoaLumberjack.git
